[project]
	description = JspMyAdmin 2 - A Java Web tool for MySql database administration
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yugandhar Gangu (yugandhargangu)
[access "refs/for/refs/*"]
	read = group user/Yugandhar Gangu (yugandhargangu)
	push = group user/Yugandhar Gangu (yugandhargangu)
	label-Code-Review = -2..+2 group user/Yugandhar Gangu (yugandhargangu)
	label-Verified = -1..+1 group user/Yugandhar Gangu (yugandhargangu)
	rebase = group user/Yugandhar Gangu (yugandhargangu)
	removeReviewer = group user/Yugandhar Gangu (yugandhargangu)
	submit = group user/Yugandhar Gangu (yugandhargangu)
[access "refs/heads/*"]
	read = group user/Yugandhar Gangu (yugandhargangu)
	create = group user/Yugandhar Gangu (yugandhargangu)
	push = +force group user/Yugandhar Gangu (yugandhargangu)
	pushMerge = group user/Yugandhar Gangu (yugandhargangu)
[access "refs/tags/*"]
	push = group user/Yugandhar Gangu (yugandhargangu)
	push = +force group user/Yugandhar Gangu (yugandhargangu)
