<div style="padding: 2px 1.5em;">
	<ul class="breadcrumb">
		<li><a ui-sref="home">fsfs:fdsfs&#40;fdsfsfs&#41;</a></li>
		<li ng-show="topbarIndex >= 1"><a href="database_structure.html">db</a></li>
		<li ng-show="topbarIndex >= 2"><a href="table_data.html">table</a></li>
		<li ng-show="topbarIndex === 3"><a href="view_data.html">view</a></li>
	</ul>
</div>
<div id="left-menu-btn">
	<img alt="Pervious" class="icon" src="assets/icons/arrow-88-24.png">
</div>
<div id="right-menu-btn">
	<img alt="Next" class="icon" src="assets/icons/arrow-24-24.png">
</div>