<m:store name="lblview_data" key="lbl.view_data" />
		<li ng-show="menuIndex === 4"><a
			href="${pageContext.request.contextPath}/view_data.html?token=${requestScope.command.request_token}"><img
				alt="${lblview_data}" class="icon"
				src="assets/icons/text-justify.png">
				${lblview_data}</a></li>
		<m:store name="lbl_structure" key="lbl.structure" />
		<li ng-show="menuIndex === 4"><a
			href="${pageContext.request.contextPath}/view_structure.html?token=${requestScope.command.request_token}"><img
				alt="${lbl_structure}" class="icon"
				src="assets/icons/structure.png">
				${lbl_structure}</a></li>
		<m:store name="lbl_query_editor" key="lbl.query_editor" />
		<li ng-show="menuIndex === 4"><a
			href="${pageContext.request.contextPath}/view_sql.html?token=${requestScope.command.request_token}"><img
				alt="${lbl_query_editor}" class="icon"
				src="assets/icons/text-file.png">
				${lbl_query_editor} </a></li>
		<m:store name="lbl_export" key="lbl.export" />
		<li ng-show="menuIndex === 4"><a
			href="${pageContext.request.contextPath}/view_export.html?token=${requestScope.command.request_token}"><img
				alt="${lbl_export}" class="icon"
				src="assets/icons/send-file-g.png">
				${lbl_export}</a></li>
		<m:store name="lbl_import" key="lbl.import" />
		<li ng-show="menuIndex === 4"><a
			href="${pageContext.request.contextPath}/view_import.html?token=${requestScope.command.request_token}"><img
				alt="${lbl_import}" class="icon"
				src="assets/icons/import-g.png">
				${lbl_import} </a></li>