<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	id="jspmyadmin" version="2.4">

	<display-name>jspmyadmin</display-name>

	<listener>
		<listener-class>com.jspmyadmin.framework.web.utils.FrameworkListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>com.jspmyadmin.framework.web.utils.ResourceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/components/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DefaultServlet</servlet-name>
		<servlet-class>com.jspmyadmin.framework.web.utils.DefaultServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DefaultServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
