<li>
  <a [routerLink]="['server', 'databases']" [routerLinkActive]="'active'">
    <img alt="Databases" class="icon" src="assets/icons/database-g.png"> Databases
  </a>
</li>
<li>
  <a href="server_sql.html">
    <img alt="Query Editor" class="icon" src="assets/icons/text-file.png"> Query Editor </a>
</li>
<li>
  <a [routerLink]="['server', 'status']" [routerLinkActive]="'active'">
    <img alt="Server Status" class="icon" src="assets/icons/statistics.png"> Server Status
  </a>
</li>
<li>
  <a>
    <img alt="Users & Previleges" class="icon" src="assets/icons/users.png"> Users & Previleges </a>
</li>
<li>
  <a>
    <img alt="Export" class="icon" src="assets/icons/send-file-g.png"> Export </a>
</li>
<li>
  <a href="server_import.html">
    <img alt="Import" class="icon" src="assets/icons/import-g.png"> Import </a>
</li>
<li>
  <a [routerLink]="['server', 'variables']" [routerLinkActive]="'active'">
    <img alt="Variables" class="icon" src="assets/icons/code.png"> Variables
  </a>
</li>
<li>
  <a [routerLink]="['server', 'charsets']" [routerLinkActive]="'active'">
    <img alt="Charsets" class="icon" src="assets/icons/text-justify.png"> Charsets
  </a>
</li>
<li>
  <a ui-sref="server_engines">
    <img alt="Engines" class="icon" src="assets/icons/database-config.png"> Engines
  </a>
</li>
<li>
  <a ui-sref="server_plugins">
    <img alt="Plugins" class="icon" src="assets/icons/puzzle-piece.png"> Plugins
  </a>
</li>