<m:store name="lbl_table_data" key="lbl.table_data" />
		<li ng-show="menuIndex === 3"><a
			href="${pageContext.request.contextPath}/table_data.html?token=${requestScope.command.request_token}"><img
				alt="${lbl_table_data}" class="icon"
				src="assets/icons/text-justify.png">
				${lbl_table_data}</a></li>
		<m:store name="lbl_structure" key="lbl.structure" />
		<li ng-show="menuIndex === 3"><a
			href="${pageContext.request.contextPath}/table_structure.html?token=${requestScope.command.request_token}"><img
				alt="${lbl_structure}" class="icon"
				src="assets/icons/structure.png">
				${lbl_structure}</a></li>
		<m:store name="lbl_foreign_keys" key="lbl.foreign_keys" />
		<li ng-show="menuIndex === 3"><a title="${lbl_foreign_keys}"
			href="${pageContext.request.contextPath}/table_foreign_keys.html?token=${requestScope.command.request_token}"><img
				alt="${lbl_foreign_keys}" class="icon" title="${lbl_foreign_keys}"
				src="assets/icons/link.png">
				${lbl_foreign_keys}</a></li>
		<m:store name="lbl_partitioning" key="lbl.partitioning" />
		<li ng-show="menuIndex === 3"><a
			href="${pageContext.request.contextPath}/table_partitions.html?token=${requestScope.command.request_token}"><img
				alt="${lbl_partitioning}" class="icon"
				src="assets/icons/split.png">
				${lbl_partitioning} </a></li>
		<m:store name="lbl_query_editor" key="lbl.query_editor" />
		<li ng-show="menuIndex === 3"><a
			href="${pageContext.request.contextPath}/table_sql.html?token=${requestScope.command.request_token}"><img
				alt="${lbl_query_editor}" class="icon"
				src="assets/icons/text-file.png">
				${lbl_query_editor} </a></li>
		<m:store name="lbl_insert_data" key="lbl.insert_data" />
		<li ng-show="menuIndex === 3"><a
			href="${pageContext.request.contextPath}/table_insert_update.html?token=${requestScope.command.request_token}"><img
				alt="${lbl_insert_data}" class="icon"
				src="assets/icons/add-list-g.png">
				${lbl_insert_data}</a></li>
		<m:store name="lbl_information" key="lbl.information" />
		<li ng-show="menuIndex === 3"><a
			href="${pageContext.request.contextPath}/table_info.html?token=${requestScope.command.request_token}"><img
				alt="${lbl_information}" class="icon"
				src="assets/icons/info.png">
				${lbl_information}</a></li>
		<m:store name="lbl_export" key="lbl.export" />
		<li ng-show="menuIndex === 3"><a
			href="${pageContext.request.contextPath}/table_export.html?token=${requestScope.command.request_token}"><img
				alt="${lbl_export}" class="icon"
				src="assets/icons/send-file-g.png">
				${lbl_export}</a></li>
		<m:store name="lbl_import" key="lbl.import" />
		<li ng-show="menuIndex === 3"><a
			href="${pageContext.request.contextPath}/table_import.html?token=${requestScope.command.request_token}"><img
				alt="${lbl_import}" class="icon"
				src="assets/icons/import-g.png">
				${lbl_import} </a></li>
		<m:store name="lbl_maintenance" key="lbl.maintenance" />
		<li ng-show="menuIndex === 3"><a
			href="${pageContext.request.contextPath}/table_maintenance.html?token=${requestScope.command.request_token}"><img
				alt="${lbl_maintenance}" class="icon"
				src="assets/icons/eye.png">
				${lbl_maintenance}</a></li>